*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li{
  list-style-type: none;
}

.page-header{
  background-color: rgb(42, 94, 232);
}

.block-header{
  max-width: 1200px;
  margin: 0 auto;
}

#logo{
  margin: 15px;
}

.btn-header{
  margin: 15px;
  background-color: white;
  border: none;
  padding: 10px 22px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  border-radius: 25px;
}

.link-header{
  display: inline-block;
  margin: 25px;
  padding-right: 25px;
}
.link-header a{
  color: white;
  text-decoration: none;
}
.link-header a:visited{
  text-decoration: none;
}
.link-header a:hover{
  text-decoration: underline;
  color: white;
}

/* HERO SECTION*/
.hero{
  margin: auto;
  width: 100%;
  height: 800px;
  background-image: url("../img/jumbo.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title{
  color: white;
  font-size: 100px;
}

#par-hero{
  font-size: 20px;
  color: white;
  text-align: center;
}

.btn-hero{
  margin: 25px;
  background-color: white;
  border: none;
  padding: 15px 28px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  border-radius: 25px;
}
.black{
  background-color: rgb(36, 39, 42);
  color: white;
}

/* FIRST SECTION*/
#img-about-talk{
  width: 85%;
}
#img-col8-about-talk{
  display: flex;
  justify-content: left;
}
#text-col4-about-talk{
  display: flex;
  justify-content: end;
}
.title-about-talk{
  font-size: 50px;
  padding-top: 35px;
}
.subt-about-talk{
  padding: 20px;
  font-size: 20px;
}

/*SECOND SECTION*/
.img-col8-chanel{
  display: flex;
  justify-content: end;
}

/*THIRD SECTION*/
#img-about-logo-person{
  display: flex;
  justify-content: left;
}

/*FOURTH SECTION*/
.cta-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
#subt-h3{
  font-size: 35px;
}
#btn-fourth-section{
  margin: 25px;
  background-color: rgb(142, 161, 225);
  color: white;
  border: none;
  padding: 15px 28px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  border-radius: 25px;
}

/*FOOTER SECTION DARK*/
.bg-dark{
  background-color: rgb(35, 39,42);
  padding: 20px 0;
}
#title-footer{
  padding: 20px 0;
  color: rgb(114, 137, 218);
  font-size: 45px;
  text-align: left;
}
#img-italia{
  width: 20px;
  display: left;
}
#paragraph-italia{
  color: white;
}

#flex-col-4-footer{
  display: flex;
}

#btn-footer{
  background-color: rgb(142, 161, 225);
  color: white;
  border: none;
  padding: 15px 28px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  border-radius: 25px;
}

#div-italia{
  padding: 20px 0;
  display: flex;
}

.title{
  color: rgb(114, 137, 218);
  padding-top: 20px;
}
.thing-list{
  padding-top: 10px;
  color: white;
}

.row-footer{
  border-bottom: 1px solid rgb(114, 137, 218);
}



.container{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.row-reverse{
  flex-direction: row-reverse;
}

.justify-between{
  justify-content: space-between;
  align-items: center;
}

.justify-center{
  justify-content: center;
  align-items: center;
}

.bg-gray{
  background-color: #d3d3d3;
}

.col-10{
  flex-basis: calc(100% * 10 / 12);
}

.col-8{
  flex-basis: calc(100% / 12 * 8);
  justify-content: right;
}

.col-4{
  flex-basis: calc(100% / 12 * 4);
}

.col-12{
  flex-basis: calc(100% / 12 * 12);
}

.col-2{
  flex-basis: calc(100% / 12 *  2);
}

.margin-section{
  margin-top: 50px;
}


/*DEBUG*/
.debug .page-header{
  padding: 10px;
  background: cornflowerblue;
}

.debug .page-footer{
  background-color: #23272a;
  padding: 10px;
}

.debug .page-header .col{
  background-color: #daa520;
  border: 2px dotted black;
  padding: 10px;
  color: white;
}

.debug main section{
  padding: 10px;
}

.debug .hero{
  background-color: #00008b;
}

.debug .hero [class^='col-']{
  background-color: #ee82ee;
}

.debug main [class^='col-']{
  min-height: 200px;
  padding: 20px;
  border: 2px dashed black;
}

.debug main .col-8{
  background-color: #1e90ff;
}

.debug main .col-4{
  background-color: #ffc0cb;
}

.debug .cta-section .col-12{
  background-color: #228b22;
  min-height: 400px;
}

.debug footer .col-4{
  background-color: pink;
}

.debug footer .col-2{
  background-color: cornflowerblue;
}


.debug footer [class^='col-']{
  min-height: 200px;
  padding: 20px;
  border: 2px dashed black;
}


.debug .page-footer .col{
  background-color: #daa520;
  border: 2px dotted black;
  padding: 10px;
  color: white;
}
